@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSansSemibold/OpenSansSemibold.eot");
  src: url("../fonts/OpenSans/OpenSansSemibold/OpenSansSemibold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans/OpenSansSemibold/OpenSansSemibold.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSansSemibold/OpenSansSemibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

body {
  position: relative;
  height: 100%;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  background-color: #fff;
  overflow-x: hidden; }
  body.overflow-hidden {
    overflow: hidden; }

.container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0px 15px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.main-header {
  position: relative;
  width: 100%;
  min-height: 920px;
  padding: 82px 0px 385px 0px;
  background-color: #f5f5f5; }
  .main-header .title-desc {
    position: relative; }
  .main-header .container {
    position: relative; }
    .main-header .container::after {
      position: absolute;
      bottom: -385px;
      right: -40px;
      display: block;
      width: 560px;
      height: 487px;
      content: '';
      background-image: url(../img/main-header-bg.png);
      background-repeat: no-repeat;
      -webkit-background-size: 560px 487px;
              background-size: 560px 487px; }

.main-logo {
  float: left;
  line-height: 0; }

.hamburger {
  position: relative;
  z-index: 3;
  float: right;
  width: 34px;
  height: 20px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .hamburger:hover .hamburger-icon,
  .hamburger:hover .hamburger-icon::before,
  .hamburger:hover .hamburger-icon::after {
    background-color: #ff5c36; }
  .hamburger:hover .hamburger-icon,
  .hamburger:hover .hamburger-icon::before,
  .hamburger:hover .hamburger-icon::after {
    background-color: #ff5c36; }
  .hamburger_active .hamburger-icon {
    background-color: transparent; }
  .hamburger_active .hamburger-icon::before {
    top: 0px;
    -webkit-transform: rotate(135deg) scale(0.8);
        -ms-transform: rotate(135deg) scale(0.8);
            transform: rotate(135deg) scale(0.8);
    background-color: #ff5c36; }
  .hamburger_active .hamburger-icon::after {
    top: 0px;
    -webkit-transform: rotate(-135deg) scale(0.8);
        -ms-transform: rotate(-135deg) scale(0.8);
            transform: rotate(-135deg) scale(0.8);
    background-color: #ff5c36; }
  .hamburger_active:hover .hamburger-icon {
    background-color: transparent; }

.hamburger-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 34px;
  height: 4px;
  margin: 0px;
  padding: 0px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #706b73;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }
  .hamburger-icon::before {
    top: -8px; }
  .hamburger-icon::after {
    top: 8px; }

.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  position: absolute;
  display: block;
  width: 34px;
  height: 4px;
  background-color: #706b73;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.main-nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }
  .main-nav_active {
    height: 100%; }
    .main-nav_active .nav-link {
      font-size: 22px;
      line-height: 50px;
      letter-spacing: 2px; }

.nav-list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0px;
  padding: 0px;
  list-style: none; }

.nav-link {
  display: block;
  width: 30vw;
  margin: 0 auto;
  font-family: "OpenSans", sans-serif;
  font-size: 0px;
  line-height: 0px;
  font-weight: 600;
  color: #fc6744;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
  .nav-link:hover, .nav-link:focus {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }

.title {
  margin: 0px;
  margin-bottom: 27px;
  padding: 0px;
  padding-top: 145px;
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  color: #626262; }

.title-first-word {
  color: #fc6744; }

.title-desc {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 110px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.65); }

.form-send-message {
  position: absolute;
  bottom: -388px;
  width: 372px;
  height: 388px;
  padding-top: 18px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
          box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  -webkit-border-radius: 2px;
          border-radius: 2px; }
  .form-send-message h3 {
    margin: 0px 0px 38px 0px;
    padding: 0px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #211a18; }
    .form-send-message h3 span {
      color: #fc6744; }
  .form-send-message input {
    width: 294px;
    margin: 0px 39px 20px 39px;
    padding: 5px 0px;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.6);
    border: none;
    border-bottom: 1px solid #c7c7c7;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .form-send-message input:focus {
      color: #fc6744;
      outline: none;
      border-bottom: 1px solid #ff5c36; }
    .form-send-message input:focus::-webkit-input-placeholder {
      color: transparent; }
    .form-send-message input:focus::-moz-placeholder {
      color: transparent; }
    .form-send-message input:focus:-ms-input-placeholder {
      color: transparent; }
  .form-send-message input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6); }
  .form-send-message input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6); }
  .form-send-message input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6); }
  .form-send-message textarea {
    display: block;
    width: 294px;
    height: 96px;
    margin: 0px 39px 20px 39px;
    padding: 5px 0px;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.6);
    border: none;
    border-bottom: 1px solid #c7c7c7;
    resize: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .form-send-message textarea:focus {
      outline: none;
      border-bottom: 1px solid #ff5c36;
      color: #fc6744; }
      .form-send-message textarea:focus:focus::-moz-placeholder {
        color: transparent; }
      .form-send-message textarea:focus:focus::-webkit-input-placeholder {
        color: transparent; }
  .form-send-message textarea::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6); }
  .form-send-message textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6); }

.btn {
  display: block;
  font-size: 16px;
  line-height: 25px;
  -webkit-border-radius: 27px;
          border-radius: 27px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.btn-send {
  position: relative;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 15px 66px;
  font-family: "OpenSans", sans-serif;
  color: #ffffff;
  background-color: #ff5c36;
  border: 1px solid #ededed;
  -webkit-box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
          box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08); }
  .btn-send::after {
    position: absolute;
    right: 33px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    content: '';
    display: block;
    width: 17px;
    height: 10px;
    background-image: url(../img/sprite-icon.png);
    background-repeat: no-repeat;
    background-position: -104px -201px; }
  .btn-send:hover, .btn-send:focus {
    font-family: "OpenSans", sans-serif;
    outline: none;
    border: 1px solid #ff5c36;
    -webkit-box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.2);
            box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.2); }
  .btn-send:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95); }

.working {
  background-color: #fff; }

.working-item {
  position: relative;
  z-index: 1;
  float: left;
  width: 262px;
  min-height: 263px;
  margin-bottom: 180px;
  padding: 110px 20px 66px 20px;
  color: #ffffff;
  text-align: center; }
  .working-item h4 {
    margin: 0px 0px 14px 0px;
    padding: 0px;
    font-size: 20px;
    line-height: 42px;
    font-weight: 600; }
  .working-item p {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff; }
  .working-item::before {
    position: absolute;
    top: 53px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 43px;
    height: 44px;
    content: '';
    background-image: url(../img/sprite-icon.png);
    background-repeat: no-repeat; }

.btn-know-more {
  position: absolute;
  bottom: -24px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  width: 228px;
  padding: 15px 60px 15px 82px;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(20, 20, 21, 0.08);
          box-shadow: 0px 0px 14px 0px rgba(20, 20, 21, 0.08); }
  .btn-know-more::before {
    position: absolute;
    top: 20px;
    left: 50px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/sprite-icon.png);
    background-position: -104px -221px;
    opacity: 0.4;
    content: ''; }
  .btn-know-more:hover, .btn-know-more:focus {
    outline: none;
    color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.12);
            box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.12); }
    .btn-know-more:hover::before, .btn-know-more:focus::before {
      opacity: 0.5; }

.working-item-one {
  margin-right: 31px;
  background-color: #4eb2f7; }
  .working-item-one::before {
    width: 43px;
    height: 44px;
    background-position: -76px -425px; }

.working-item-two {
  margin-right: 30px;
  background-color: #c049f8; }
  .working-item-two::before {
    background-position: -81px -371px;
    width: 45px;
    height: 44px; }

.working-item-three {
  margin-right: 31px;
  background-color: #817eff; }
  .working-item-three::before {
    background-position: -81px -311px;
    width: 54px;
    height: 50px; }

.working-item-four {
  margin-right: 0px;
  background-color: #f74770; }
  .working-item-four::before {
    background-position: -10px -383px;
    width: 56px;
    height: 52px; }

.featured {
  width: 100%;
  min-height: 1611px;
  background-color: #fbfbfb;
  font-size: 0px; }

.images-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 170px; }

.featured-img {
  display: inline-block;
  width: 360px;
  height: 360px;
  margin-bottom: 30px;
  padding: 0px;
  background-color: #ff5c36;
  font-size: 16px;
  text-align: center; }

.services {
  margin-bottom: 178px; }
  .services .btn-know-more {
    position: relative;
    top: 0px;
    left: 0px;
    width: 240px;
    margin: 0px;
    padding: 15px 0px 15px 94px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    border: 1px solid #ededed;
    -webkit-box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.07);
            box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.07); }
    .services .btn-know-more:hover, .services .btn-know-more:focus {
      -webkit-box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.11);
              box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.11); }

.services-button {
  float: left;
  padding: 0px 92px 0px 0px;
  background-color: #ffffff; }

.btn-switch {
  position: relative;
  display: block;
  width: 104px;
  height: 92px;
  margin: 0px 0px 7px 0px;
  padding: 0px;
  background-color: #fbfbfb;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(20, 20, 21, 0.14);
          box-shadow: 0px 0px 1px 0px rgba(20, 20, 21, 0.14);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-switch_active {
    -webkit-box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2);
            box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2); }
  .btn-switch:hover, .btn-switch:focus {
    -webkit-box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2);
            box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2); }
  .btn-switch::before {
    position: absolute;
    top: 24px;
    left: 28px;
    display: block;
    width: 61px;
    height: 62px;
    background-image: url(../img/sprite-icon.png);
    background-repeat: no-repeat;
    background-position: -10px -311px;
    content: ''; }
  .btn-switch:nth-child(2)::before {
    top: 14px;
    left: 20px;
    background-position: -10px -192px;
    width: 84px;
    height: 87px; }
  .btn-switch:nth-child(3)::before {
    top: 16px;
    left: 20px;
    background-position: -10px -120px;
    width: 88px;
    height: 62px; }

.services-types {
  position: relative;
  display: none;
  float: right;
  width: 943px;
  padding: 0px 388px 0px 35px;
  -webkit-transition: all 10s;
  -o-transition: all 10s;
  transition: all 10s; }
  .services-types p:nth-of-type(1) {
    margin-bottom: 24px; }
  .services-types p:nth-of-type(2) {
    margin-bottom: 16px; }
  .services-types p:nth-of-type(3) {
    margin-bottom: 36px; }
  .services-types::after {
    position: absolute;
    bottom: 0;
    right: -40px;
    display: block;
    width: 388px;
    min-height: 369px;
    background-image: url(../img/services-types-1.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: 100% 100%;
    content: ''; }
  .services-types.service-type-2::after {
    background-image: url(../img/services-types-2.png); }
  .services-types.service-type-3::after {
    background-image: url(../img/services-types-3.png); }
  .services-types.service-type-4::after {
    background-image: url(../img/services-types-4.png); }
  .services-types_active {
    display: block;
    opacity: 1; }
  .services-types_hidden {
    display: none;
    opacity: 0; }

.services-types-title {
  position: relative;
  margin: 0px 0px 11px 0px;
  padding: 0px 0px 25px 0px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75); }
  .services-types-title::after {
    position: absolute;
    top: 42px;
    left: -2px;
    display: block;
    width: 57px;
    height: 3px;
    background-color: #ff5c36;
    content: ''; }

.services-types-desc {
  margin: 0px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.7); }

.team {
  background-color: #fbfbfb; }

.team-cards {
  position: relative;
  margin-bottom: 176px; }
  .team-cards .team-cards-item:nth-child(1):hover, .team-cards .team-cards-item:nth-child(2):hover, .team-cards .team-cards-item:nth-child(3):hover {
    background-color: #fff3f0;
    -webkit-box-shadow: 0px 0px 49px 0px rgba(20, 20, 21, 0.11);
            box-shadow: 0px 0px 49px 0px rgba(20, 20, 21, 0.11); }
    .team-cards .team-cards-item:nth-child(1):hover .cards-item-info, .team-cards .team-cards-item:nth-child(2):hover .cards-item-info, .team-cards .team-cards-item:nth-child(3):hover .cards-item-info {
      bottom: 0px;
      height: 100px;
      padding-top: 0px;
      background-color: transparent;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .team-cards .team-cards-item:nth-child(1):hover .cards-item-skills, .team-cards .team-cards-item:nth-child(2):hover .cards-item-skills, .team-cards .team-cards-item:nth-child(3):hover .cards-item-skills {
      display: block; }
    .team-cards .team-cards-item:nth-child(1):hover .cards-item-name, .team-cards .team-cards-item:nth-child(2):hover .cards-item-name, .team-cards .team-cards-item:nth-child(3):hover .cards-item-name {
      margin-bottom: 8px;
      color: rgba(32, 32, 32, 0.85); }
    .team-cards .team-cards-item:nth-child(1):hover .cards-item-position, .team-cards .team-cards-item:nth-child(2):hover .cards-item-position, .team-cards .team-cards-item:nth-child(3):hover .cards-item-position {
      margin-bottom: 13px;
      color: rgba(255, 114, 76, 0.9); }
    .team-cards .team-cards-item:nth-child(1):hover .cards-item-social, .team-cards .team-cards-item:nth-child(2):hover .cards-item-social, .team-cards .team-cards-item:nth-child(3):hover .cards-item-social {
      display: block; }

.team-cards-item {
  position: relative;
  float: left;
  width: 360px;
  height: 445px;
  margin: 0px 30px 0px 0px;
  background-color: #ff5c36;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(20, 20, 21, 0.6);
          box-shadow: 0px 0px 2px 0px rgba(20, 20, 21, 0.6);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .team-cards-item:nth-child(3) {
    margin-right: 0; }

.cards-item-info {
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -131px;
  width: 262px;
  height: 95px;
  padding-top: 18px;
  text-align: center;
  background-color: #ffffff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0px 6px 16px 0px rgba(20, 20, 21, 0.08);
          box-shadow: 0px 6px 16px 0px rgba(20, 20, 21, 0.08);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.cards-item-skills {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .cards-item-skills span {
    position: relative;
    display: block;
    width: 151px;
    padding-bottom: 11px;
    font-size: 11px;
    line-height: 20px;
    color: #000000;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .cards-item-skills span::before, .cards-item-skills span::after {
      position: absolute;
      bottom: 0;
      display: inline-block;
      height: 4px;
      content: '';
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .cards-item-skills span::before {
      left: 0px;
      width: 50%;
      background-color: #ff6e47;
      -webkit-border-radius: 2px 0px 0px 2px;
              border-radius: 2px 0px 0px 2px; }
    .cards-item-skills span::after {
      right: 0px;
      width: 50%;
      background-color: #707070;
      -webkit-border-radius: 0px 2px 2px 0px;
              border-radius: 0px 2px 2px 0px; }

.cards-item-skills-1 span:nth-child(1)::before {
  width: 89%; }

.cards-item-skills-1 span:nth-child(1)::after {
  width: 11%; }

.cards-item-skills-1 span:nth-child(2)::before {
  width: 91%; }

.cards-item-skills-1 span:nth-child(2)::after {
  width: 9%; }

.cards-item-skills-1 span:nth-child(3)::before {
  width: 93%; }

.cards-item-skills-1 span:nth-child(3)::after {
  width: 7%; }

.cards-item-skills-2 span:nth-child(1)::before {
  width: 81%; }

.cards-item-skills-2 span:nth-child(1)::after {
  width: 19%; }

.cards-item-skills-2 span:nth-child(2)::before {
  width: 72%; }

.cards-item-skills-2 span:nth-child(2)::after {
  width: 28%; }

.cards-item-skills-2 span:nth-child(3)::before {
  width: 77%; }

.cards-item-skills-2 span:nth-child(3)::after {
  width: 23%; }

.cards-item-skills-3 span:nth-child(1)::before {
  width: 84%; }

.cards-item-skills-3 span:nth-child(1)::after {
  width: 16%; }

.cards-item-skills-3 span:nth-child(2)::before {
  width: 79%; }

.cards-item-skills-3 span:nth-child(2)::after {
  width: 21%; }

.cards-item-skills-3 span:nth-child(3)::before {
  width: 82%; }

.cards-item-skills-3 span:nth-child(3)::after {
  width: 18%; }

.cards-item-name {
  display: block;
  margin-bottom: 14px;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  color: #737373; }

.cards-item-position {
  display: block;
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 200;
  line-height: 16px;
  color: #a0a0a0; }

.cards-item-social {
  display: none;
  height: 18px;
  margin-bottom: 15px;
  background-color: transparent;
  text-align: center; }
  .cards-item-social:hover {
    background-color: transparent;
    outline: none; }
  .cards-item-social a:nth-child(1) {
    display: inline-block;
    width: 16px;
    height: 14px;
    background-image: url(../img/sprite-icon.png);
    background-position: -104px -247px;
    content: ''; }
  .cards-item-social a:nth-child(2) {
    display: inline-block;
    width: 10px;
    height: 18px;
    margin: 0px 14px;
    background-image: url(../img/sprite-icon.png);
    background-position: -125px -271px;
    content: ''; }
  .cards-item-social a:nth-child(3) {
    display: inline-block;
    width: 16px;
    height: 14px;
    background-image: url(../img/sprite-icon.png);
    background-position: -104px -247px;
    content: ''; }

.reviews {
  text-align: center; }

.slide-reviews {
  position: relative;
  width: 536px;
  min-height: 273px;
  margin: 17px;
  margin: 50px 17px 54px 17px;
  padding: 84px 49px 0px 49px;
  background-color: #ffffff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(20, 20, 21, 0.09);
          box-shadow: 0px 0px 27px 0px rgba(20, 20, 21, 0.09); }
  .slide-reviews:hover {
    -webkit-border-radius: 1px;
            border-radius: 1px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(20, 20, 21, 0.75);
            box-shadow: 0px 0px 1px 0px rgba(20, 20, 21, 0.75); }
  .slide-reviews:before {
    position: absolute;
    top: -49px;
    left: 50%;
    margin-top: 0px;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    z-index: 5;
    display: block;
    width: 99px;
    height: 99px;
    background-color: #ffffff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(20, 20, 21, 0.75);
            box-shadow: 0px 0px 1px 0px rgba(20, 20, 21, 0.75);
    content: ''; }

.review-text {
  position: relative;
  margin-bottom: 17px;
  padding-bottom: 26px;
  font-size: 17px;
  line-height: 27px;
  color: #4c4c4c; }
  .review-text::after {
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block;
    width: 63px;
    height: 12px;
    background-image: url(../img/sprite-icon.png);
    background-position: -10px -289px;
    content: ''; }

.review-client {
  position: relative;
  margin-bottom: 37px;
  font-size: 17px;
  font-weight: 600;
  line-height: 27px;
  color: #333333; }
  .review-client span {
    font-style: italic;
    font-weight: 400; }

.owl-nav {
  position: absolute;
  width: 100%;
  height: 0;
  top: 50%;
  margin-top: -24px; }
  .owl-nav::after {
    display: table;
    content: '';
    clear: both; }

.owl-prev, .owl-next {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  font-size: 0px;
  background-color: #ffffff;
  outline: none;
  border: none;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(20, 20, 21, 0.08);
          box-shadow: 0px 3px 14px 0px rgba(20, 20, 21, 0.08);
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }
  .owl-prev::after, .owl-next::after {
    position: absolute;
    left: 19px;
    top: 16px;
    display: block;
    width: 11px;
    height: 16px;
    content: '';
    background-image: url(../img/sprite-icon.png);
    background-position: -104px -271px; }
  .owl-prev:hover, .owl-next:hover {
    background-color: #ff6e47;
    -webkit-box-shadow: 0px 3px 14px 0px rgba(20, 20, 21, 0.28);
            box-shadow: 0px 3px 14px 0px rgba(20, 20, 21, 0.28); }
    .owl-prev:hover::after, .owl-next:hover::after {
      background-position: -83px -289px; }

.owl-prev {
  left: -24px;
  float: left; }
  .owl-prev:hover::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.owl-next {
  right: -24px;
  float: right; }
  .owl-next:hover::after {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .owl-next::after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.owl-dots {
  margin-bottom: 144px; }

.owl-dot {
  display: inline-block;
  width: 18px;
  height: 6px;
  margin: 0px 4px;
  background-color: #e0e0e0;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }
  .owl-dot.active {
    background-color: #ff6e47; }

.partners {
  height: 202px;
  background-color: #fbfbfb; }
  .partners div:nth-child(1) a {
    width: 118px;
    height: 30px;
    background-position: -10px -80px; }
  .partners div:nth-child(2) a {
    width: 134px;
    height: 33px;
    background-position: -10px -37px; }
  .partners div:nth-child(3) a {
    width: 135px;
    height: 27px;
    background-position: -10px -0px; }
  .partners div:nth-child(4) a {
    width: 118px;
    height: 30px;
    background-position: -10px -80px; }
  .partners div:nth-child(5) a {
    width: 134px;
    height: 33px;
    background-position: -10px -37px; }
  .partners div:nth-child(6) {
    margin-right: 0px; }
    .partners div:nth-child(6) a {
      width: 135px;
      height: 27px;
      background-position: -10px -0px; }

.partner-item {
  float: left;
  width: 165px;
  height: 202px;
  margin: 0px 30px 0px 0px; }
  .partner-item a {
    margin-top: 50%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block;
    background-image: url(../img/sprite-icon.png); }

.main-footer {
  padding-top: 43px;
  background-color: #f7f7f7;
  text-align: center; }

.btn-contact {
  width: 238px;
  height: 57px;
  margin: 0px auto 50px auto;
  color: #000000;
  line-height: 57px;
  text-decoration: none;
  background-color: #fdfdfd;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.07);
          box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.07); }
  .btn-contact:hover, .btn-contact:focus {
    -webkit-box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.11);
            box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.11); }

.footer-bottom {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 54px; }

.footer-social {
  float: left; }
  .footer-social a:nth-child(1)::after {
    top: 16px;
    left: 21px;
    width: 11px;
    height: 20px;
    background-position: -10px -445px; }
  .footer-social a:nth-child(2)::after {
    top: 19px;
    left: 18px;
    width: 20px;
    height: 16px;
    background-position: -108px -146px; }
  .footer-social a:nth-child(3)::after {
    top: 16px;
    left: 17px;
    width: 19px;
    height: 19px;
    background-position: -108px -172px; }
  .footer-social a:nth-child(4) {
    margin-right: 0px; }
    .footer-social a:nth-child(4)::after {
      top: 19px;
      left: 16px;
      width: 25px;
      height: 16px;
      background-position: -108px -120px; }

.footer-social-btn {
  position: relative;
  display: block;
  float: left;
  width: 54px;
  height: 52px;
  margin-right: 16px;
  background-color: #d3d3d3;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }
  .footer-social-btn:hover, .footer-social-btn:focus {
    background-color: #ff6e47;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(20, 20, 21, 0.29);
            box-shadow: 0px 0px 23px 0px rgba(20, 20, 21, 0.29); }
  .footer-social-btn::after {
    position: absolute;
    display: block;
    background-image: url(../img/sprite-icon.png);
    content: ''; }

.copyright {
  float: left;
  margin-left: 25px;
  font-size: 17px;
  line-height: 52px;
  color: #898989; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  body {
    min-width: 992px; }
  .container {
    max-width: 992px; }
  .main-header .container::after {
    bottom: -385px;
    right: 0px; }
  .main-header {
    min-height: 100%;
    padding-top: 50px; }
    .main-header .container::after {
      display: none; }
  .top-header {
    width: 100%;
    margin-bottom: 50px; }
  .title {
    padding-top: 50px; }
  .title-desc {
    margin-bottom: 50px; }
  .form-send-message {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .working-item {
    width: 45%;
    margin: 0;
    margin: 35px 2.5%; }
  .images-section {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-bottom: 100px; }
  .services-types::after {
    right: 35px; }
  .services-button {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 50px;
    padding: 0;
    float: none;
    font-size: 0px; }
  .btn-switch {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px; }
  .team-cards {
    margin-bottom: 70px;
    font-size: 0px; }
  .team-cards-item {
    float: none;
    display: inline-block;
    width: 32%;
    height: 380px;
    margin-right: 2%; }
  .slide-reviews {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  .owl-prev {
    left: 6px; }
  .owl-next {
    right: 6px; }
  .owl-dots {
    margin-bottom: 50px; }
  .partners {
    height: auto;
    padding-top: 40px;
    font-size: 0px;
    text-align: center; }
    .partners .partner-item {
      float: none;
      height: auto;
      margin: 0px;
      margin-bottom: 50px;
      display: inline-block;
      width: 25%;
      text-align: center; }
      .partners .partner-item a {
        display: inline-block;
        margin: 0px;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; }
  .main-footer {
    height: auto; }
  .footer-bottom {
    margin: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-bottom: 30px; }
  .footer-social {
    float: none;
    display: inline-block;
    text-align: center; }
  .footer-social-btn {
    float: none;
    display: inline-block; }
  .copyright {
    float: none;
    margin: 0px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  body {
    min-width: 768px;
    max-width: 992px;
    overflow-x: hidden; }
  .container {
    max-width: 768px; }
  .working {
    padding-bottom: 40px; }
  .working-item {
    min-height: 276px; }
  .services-button {
    margin-left: 0px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    text-align: center; }
  .btn-switch {
    display: inline-block; }
  .services-types {
    width: auto;
    padding-left: 15px;
    padding-right: 300px; }
    .services-types::after {
      bottom: 85px;
      width: 280px;
      height: auto; }
    .services-types.service-type-1::after {
      bottom: 55px;
      right: 0px; }
    .services-types.service-type-2::after {
      bottom: 130px;
      right: 0px; }
    .services-types.service-type-3::after {
      bottom: 100px;
      right: 0px; }
    .services-types.service-type-4::after {
      bottom: 115px;
      right: 0px; }
  .team-cards-item {
    width: 32%;
    height: 380px;
    margin-right: 2%;
    margin-bottom: 50px; }
  .cards-item-info {
    width: 200px;
    margin-left: -100px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  body {
    min-width: 480px;
    max-width: 768px; }
  .container {
    width: 100%; }
  .title {
    margin-bottom: 30px;
    padding-top: 35px;
    font-size: 30px;
    line-height: 40px; }
  .working-item {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; }
  .images-section {
    margin-bottom: 70px; }
  .services {
    margin-bottom: 70px; }
    .services .btn-know-more {
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
  .services-types {
    width: 100%;
    padding: 0px; }
    .services-types::after {
      display: none; }
  .team-cards-item {
    width: 50%;
    height: 430px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px; }
  .cards-item-skills {
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-35%, 50%);
        -ms-transform: translate(-35%, 50%);
            transform: translate(-35%, 50%); }
  .slide-reviews {
    padding-bottom: 15px; }
  .partners .partner-item {
    width: 30%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  body {
    min-width: 310px;
    max-width: 480px; }
  .services-types-title {
    display: inline-block;
    padding-bottom: 0px;
    border-bottom: 2px solid #ff5c36;
    line-height: 40px; }
    .services-types-title::after {
      display: none; }
  .featured-img {
    width: 100%;
    height: 100%; }
  .team-cards-item {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; }
  .slide-reviews {
    padding-bottom: 15px; }
  .partners .partner-item {
    width: 50%; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  body {
    min-width: 270px;
    max-width: 320px; }
  .form-send-message input {
    padding-left: 10px; }
  .form-send-message textarea {
    padding-left: 10px; }
  .partners .partner-item {
    width: 100%; }
  .footer-social a:nth-child(1)::after {
    top: 13px;
    left: 17px; }
  .footer-social a:nth-child(2)::after {
    top: 16px;
    left: 13px; }
  .footer-social a:nth-child(3)::after {
    top: 13px;
    left: 14px; }
  .footer-social a:nth-child(4) {
    margin-right: 0px; }
    .footer-social a:nth-child(4)::after {
      top: 15px;
      left: 13px; }
  .footer-social-btn {
    width: 46px;
    height: 46px; } }
